# SQL Homework - Employee Database: A Mystery in Two Parts


## File Information and Author
#### ----------------------------------------------
#### HEADER COMMENTS
#### DATE May 8, 2020
#### AUTHOR Rob Gauer
#### FILE NAME 'HP_employee_db_pandas_bonus_analysis.ipynb'
#### ----------------------------------------------

## Bonus (Optional)
##### As you examine the data, you are overcome with a creeping suspicion that the dataset is fake. 
##### You surmise that your boss handed you spurious data in order to test the data engineering skills of a new employee. 
##### To confirm your hunch, you decide to take the following steps to generate a visualization of the data, 
##### with which you will confront your boss:

##### 1. Import the SQL database into Pandas. (Yes, you could read the CSVs directly in Pandas, but you are, after all, trying to prove your technical mettle.) This step may require some research. Feel free to use the code below to get started. Be sure to make any necessary modifications for your username, password, host, port, and database name:
    # from sqlalchemy import create_engine
    # engine = create_engine('postgresql://localhost:5432/<your_db_name>')
    # connection = engine.connect()
    
##### Consult SQLAlchemy documentation for more information.
##### If using a password, do not upload your password to your GitHub repository. 
##### See https://www.youtube.com/watch?v=2uaTPmNvH0I and https://martin-thoma.com/configuration-files-in-python/ 
##### for more information.

##### 2. Create a histogram to visualize the most common salary ranges for employees.
##### 3. Create a bar chart of average salary by title.
#####

In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import sys
import psycopg2
from configparser import ConfigParser

In [2]:
# Import permissions to database
sys.path.insert(0, "/Users/rober/Desktop/ClassHomework/keys")
#from conndb import (username, password, host, port)

#from conndb import username, password, host, port 
# need conndb.py file containing this info

In [3]:
def conndb(filename='database.ini', section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)
 
    # get section, default to postgresql
    db = {employee_db}
    
    # Checks to see if section (postgresql) parser exists
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
         
    # Returns an error if a parameter is called that is not listed in the initialization file
    else:
        raise Exception('Section {0} not found in the {1} file'.format(section, filename))
 
    return db

In [4]:
# Connect to local database
from sqlalchemy import create_engine
#engine = create_engine(f"postgresql://{username}:{password}@{host}:{port}/employee_db")
#conndb = engine.connect()

In [6]:
# Review tables present in database
#engine.table_names()

In [8]:
#
employee_df = pd.read_sql_query(" 
SELECT * FROM salaries \ 
INNER JOIN employees ON employees.emp_no = salaries.emp_no \
INNER JOIN titles ON titles.emp_no = employees.emp_no",connection)

SyntaxError: EOL while scanning string literal (<ipython-input-8-71a47086b728>, line 2)

In [ ]:
#
employee_df.describe()

In [ ]:
#
employee_df.head()

In [ ]:
# 
employee_df['salary'].plot.hist(grid=True,title=title, figsize=(20, 10)) 
title='Distribution by Salary' 

# Save the Figure 
plt.savefig(f"{title.replace(' ','_')}.png") 
plt.show()

In [ ]:
salary_df = employee_df[['salary','title']].groupby('title').mean().copy()

In [ ]:
#
salary_df.plot.bar(grid=True,title=title,figsize=(20, 10)) 
plt.xticks(rotation=45) 
title='Mean Salary by Title' 

# Save the Figure 
plt.savefig(f"{title.replace(' ','_')}.png") 
plt.show()

In [ ]:
#
salary_df.head()

In [ ]:
#ax = avg_salary.sort_values("salary").plot(kind="barh",legend=None);
#ax.set_title("Average Salary by Position Title");
#ax.set_xlabel("Salary");
#ax.set_ylabel("Position Title");

In [ ]:
#
salary_df.query("emp_no == 499942")

In [ ]:
## EOF ##