# SQL Homework - Employee Database: A Mystery in Two Parts


## File Information and Author
#### ----------------------------------------------
#### HEADER COMMENTS
#### DATE May 8, 2020
#### AUTHOR Rob Gauer
#### FILE NAME 'sql_homework_employee_db_bonus'
#### ----------------------------------------------

## Bonus (Optional)
##### As you examine the data, you are overcome with a creeping suspicion that the dataset is fake. 
##### You surmise that your boss handed you spurious data in order to test the data engineering skills of a new employee. 
##### To confirm your hunch, you decide to take the following steps to generate a visualization of the data, 
##### with which you will confront your boss:

##### 1. Import the SQL database into Pandas. (Yes, you could read the CSVs directly in Pandas, but you are, after all, trying to prove your technical mettle.) This step may require some research. Feel free to use the code below to get started. Be sure to make any necessary modifications for your username, password, host, port, and database name:
    # from sqlalchemy import create_engine
    # engine = create_engine('postgresql://localhost:5432/<your_db_name>')
    # connection = engine.connect()
    
##### Consult SQLAlchemy documentation for more information.
##### If using a password, do not upload your password to your GitHub repository. 
##### See https://www.youtube.com/watch?v=2uaTPmNvH0I and https://martin-thoma.com/configuration-files-in-python/ 
##### for more information.

##### 2. Create a histogram to visualize the most common salary ranges for employees.
##### 3. Create a bar chart of average salary by title.
#####

In [ ]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from config import username, password, host, port # need config.py file containing this info
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# connect to local database
engine = create_engine(f"postgresql://{username}:{password}@{host}:{port}/employee_db_schemata")
conn = engine.connect()

In [ ]:
# review tables present in database
engine.table_names()

In [ ]:
# select all the unique titles we expect in our bar graph
pd.read_sql("SELECT DISTINCT title FROM titles ORDER BY title",conn)

In [ ]:
query = """
        SELECT t.emp_no, t.title, s.salary
        FROM employees AS e
        LEFT JOIN titles AS t
            ON e.emp_no=t.emp_no
        LEFT JOIN salaries AS s
            ON e.emp_no=s.emp_no
        
        """

In [ ]:
salary_df = pd.read_sql(query,conn)

In [ ]:
# what is the row count?
len(salary_df)

In [ ]:
salary_df.head()

In [ ]:
avg_salary = salary_df.groupby("title").agg({"salary":"mean"})
avg_salary

In [ ]:
ax = avg_salary.sort_values("salary").plot(kind="barh",legend=None);
ax.set_title("Average Salary by Position Title");
ax.set_xlabel("Salary");
ax.set_ylabel("Position Title");

In [ ]:
salary_df.query("emp_no == 499942")